.about-section {
  background-color: #0E0E0E;
  padding: 60px 20px;
  text-align: center;
}

.about-me {
    font-size: 18px;
  margin: 10px 0 20px;
  font-weight: 100;
    color: white;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.about-me h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

