* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid #333;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: aliceblue;
}

.header .nav-bar ul {
    list-style: none;
    display: flex;
    gap: 40px;

}

.header .nav-bar ul li a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;

}

.header .nav-bar a:hover {
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
}

.text-content {
    max-width: 500px;
    margin: 5%;
}

.text-content .h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
}


.text-content p {
    font-size: 1.1rem;
    color: #aaa;
    margin-bottom: 30px;
}



.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-button {
    padding: 10px 20px;
    background-color: rgba(211, 233, 122, 1);
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.icon {
    width: auto;
    height: auto;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon.linkedin img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.icon.github {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;

}

.icon.medium img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #111;
}



.image-content {
    background-color: #000000;


}

.image-content img {
    width: auto;
    height: auto;
    max-width: 350px;
    border-radius: 15px;
    margin: 15%;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 80px 50px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
}

.about-section .about-me {
    max-width: 500px;
    margin: 5%;
}

.about-section.about-me .title {
    font-size: 48px;/* Büyük başlık */
    font-weight: bold;
    text-transform: uppercase;
}
/*
.about-section .about-me .h4 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
}
    */

.about-section .about-me .content {
  max-width: 600px; /* Metin genişliği */
  font-size: 18px;
  line-height: 1.8; /* Satır aralığı */
  color: #aaa;
  justify-content: space-between;
  margin-right: 50px;
  
}



/*
.about-section .about-me p {
    font-size: 1.1rem;
    color: #aaa;
    margin-bottom: 30px;
}
    */

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        justify-content: space-between;
    }

}

.article-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
}

.article-section .article {
    max-width: 500px;
    margin: 5%;
}

.article-section .article .h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
}


.article-section .article p {
    font-size: 1.1rem;
    color: #aaa;
    margin-bottom: 30px;
}

/*
.card-container {
    display:flex ;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
}

.card {
    width:fit-content; 
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(165, 94, 242, 0.864);
}
*/

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Kartlar arasına 20px boşluk ekler */
}


.card {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
    transition: transform 0.3s, background-color 0.3s;
    gap: 20px;
    justify-items: space-between;

}

.card:hover {
    background-color: #333;
    transform: scale(1.02);
}


.card-title {
    font-size: 1.5rem;
    margin: 0 0 10px;
    color: #fff;
}


.card p {
    margin: 0 0 15px;
    color: #aaa;
}


.read-more {
    text-decoration: none;
    font-size: 0.9rem;
    color: #007acc;
    font-weight: bold;
    transition: color 0.3s;
}

.read-more:hover {
    color: #66ccff;
}