/* 
@font-face {
  font-family: 'Estable';
  src: url('../assets/fonts/Estable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/Fira_Code/static/FiraCode-Bold.ttf') format('truetype');
  font-weight:bold;
  font-style: bold;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/Fira_Code/static/FiraCode-Light.ttf') format('truetype');
  font-weight: light;
  font-style: light;
}


@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/Fira_Code/static/FiraCode-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/Fira_Code/static/FiraCode-Regular.ttf') format('truetype');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/Fira_Code/static/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: semi-bold;
  font-style: semi-bold;
}






body {
  margin: 0;
  background-color: #0E0E0E;
  font-family: 'Estable', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeIn 0.9s ease forwards;
}

a {
  color: inherit;
}



/*
@media (prefers-reduced-motion: no-preference) {
  .spinning-image {
    animation: spin infinite 360s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
*/
