/* App.css */
@font-face {
  font-family: 'Estable';
  src: url('../assets/fonts/Estable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  background-color: #0E0E0E;
  font-family: 'Estable', sans-serif;
}

a {
  color: inherit;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
