/* App.css */
@font-face {
  font-family: 'Estable';
  src: url('../assets/fonts/Estable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  background-color: #0E0E0E;
  font-family: 'Estable', sans-serif;
  
}

a {
  color: inherit;
}



/*
@media (prefers-reduced-motion: no-preference) {
  .spinning-image {
    animation: spin infinite 360s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
*/
